<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <script  th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/table.js}"></script>
</head>
<body>
<table class="gridtable">
    <thead><tr><td>编号</td><td>姓名</td><td>年龄</td><td>性别</td><td>操作</td></tr></thead>
    <tr th:each="user:${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.sex}"></td>
        <td><a th:href="@{/delete(id=${user.id})}">删除</a></td>
    </tr>
</table>
<input type="button" id="search" name="search" value="查询"/>
</body>
</html>